body{
    @media (max-width: 767.99px){
        #cuerpo2{
            overflow-x: hidden;
            .divIngresar{
                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                #agregarNuevo{
                    background-color: $darkblue;
                    color: $xlightb;
                    width: 100%;
                    padding: 0;
                    .formulario{
                        margin: 0;
                        padding: 0;
                        .form-container{
                            padding-top: 5vh;
                            padding-bottom: 5vh;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .form-control{
                                display: inline;
                                
                            }
                            label{
                                margin: 0;
                                display: block;
                                
                            }
                            input{
                                height: 50px;
                                width: 70vw;
                                border-radius: 10px;
                                margin-bottom: 0.5em;
                            }

                            #descripcion{
                                height: 50px;
                                width: 70vw;
                                margin: 0;
                                margin-bottom: 0.5em;
                            }

                            #monto{
                                height: 50px;
                                width: 70vw;
                                margin: 0;
                                margin-bottom: 1em;
                            }

                            .selector{
                                height: 50px;
                                width: 70vw;
                                display: inline;
                                border-radius: 10px;
                                margin: 0;
                                margin-bottom: 0.5em;
                            }

                            #cargar{
                                
                                height: 2.7em;
                            }

                            .salto{
                                display: inline-block;
                            }
                        }
                    }
                }
            }

                .informacion{
                    margin: 0;
                    padding: 0;
                    #listaIngresos{
                        margin: 0;
                        padding: 0;
                        .datoIngreso{
                            color: $blue;
                            list-style: none;
                            .divDato{
                                width: 40vw;
                                padding: 1em;
                                margin-bottom: 1em;
                                margin-left: 0;
                                border: 1px solid $blue; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                strong{
                                    display: block;
                                }
                                img{
                                    width: 10px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;
                                    opacity: 0.5;
                                }
                                .salto-datos{
                                    display: none;
                                }
                            }
                        }
                    }

                    #listaEgresos{
                        margin: 0;
                        padding: 0;
                        .datoEgreso{
                            color: $orange;
                            list-style: none;
                            .divDato{
                                width: 40vw;
                                padding: 1em;
                                margin-bottom: 1em;
                                margin-right: 0;
                                border: 1px solid $orange; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                strong{
                                    display: block;
                                }
                                img{
                                    width: 10px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;
                                    opacity: 0.5;
                                }
                                .salto-datos{
                                    display: none;
                                }
                                
                            }
                        }
                    }
                }

                #tituloIngresos{
                    padding: 1em;
                    color: $blue;
                }

                #tituloEgresos{
                    padding: 1em;
                    color: $orange;
                }
            
        }
    }

    @media (max-width:991.99px)and(min-width: 768px){
        #cuerpo2{
            .divIngresar{
                box-shadow: 2px 8px 12px -4px rgba(0,0,0,0.43);
                #agregarNuevo{
                    background-color: $darkblue;
                    color: $xlightb;
                    width: 100%;
                    .formulario{
                        margin: 0;
                        padding: 2em 15em 2em 15em;
                        .form-item{
                            .form-control{
                                max-width: 350px;
                            }
                            label{
                                margin: 0 1% 0 3%;
                            }
                            input{
                                height: 2.5em;
                                width: 70vw;
                                border-radius: 10px;
                            }

                            #descripcion{
                                width: 70vw;
                            }

                            #monto{
                                width: 70vw;
                            }

                            .selector{
                                width: 70vw;
                                display: inline;
                                border-radius: 10px;
                            }

                            #cargar{
                                margin-left: 4em;
                                margin-right: 3em;
                                height: 2.7em;
                            }

                            br{
                                display: none;
                            }
                        }
                    }
                }
            }

                .informacion{
                    margin: auto;
                    #listaIngresos{
                        margin: 0;
                        margin-right: auto;
                        padding: 0;
                        .datoIngreso{
                            color: $blue;
                            list-style: none;
                            .divDato{
                                width: 40vw;
                                padding: 1em;
                                margin-bottom: 1em;
                                margin-left: 2vw;
                                border: 1px solid $blue; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                img{
                                    width: 10px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;
                                    opacity: 0.5;
                                }
                            }
                        }
                    }

                    #listaEgresos{
                        margin: 0;
                        margin-left: 1em;
                        padding: 0;
                        .datoEgreso{
                            color: $orange;
                            list-style: none;
                            .divDato{
                                width: 40vw;
                                padding: 1em;
                                margin-bottom: 1em;
                                margin-right: auto;
                                border: 1px solid $orange; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                img{
                                    width: 10px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;
                                    opacity: 0.5;
                                }
                            }
                            .divDato:hover{
                                color: $xlightb;
                                background-color: $orange;
                                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                            }
                        }
                    }
                }

                #tituloIngresos{
                    padding: 1em;
                    color: $blue;
                }

                #tituloEgresos{
                    padding: 1em;
                    color: $orange;
                }
            
        }
    }

    @media (max-width:1199.99px)and(min-width: 992px){
        #cuerpo2{
            padding: 0;
            .divIngresar{
                box-shadow: 2px 8px 15px -4px rgba(0,0,0,0.43);
                #agregarNuevo{
                    background-color: $darkblue;
                    color: $xlightb;
                    width: 100%;
                    .formulario{
                        margin: 0;
                        padding: 2em 15em 2em 15em;
                        .form-item{
                            .form-control{
                                max-width: 350px;
                            }
                            label{
                                margin: 0 1% 0 3%;
                            }
                            input{
                                height: 2.5em;
                                width: 1em;
                                border-radius: 10px;
                            }

                            #descripcion{
                                width: 2em;
                            }

                            #monto{
                                width: 2em;
                            }

                            .selector{
                                width: 10%;
                                display: inline;
                                border-radius: 10px;
                            }

                            #cargar{
                                margin-left: 4em;
                                margin-right: 3em;
                                height: 2.7em;
                            }

                            br{
                                display: none;
                            }
                        }
                    }
                }
            }

                .informacion{
                    margin: 0.5em;
                    #listaIngresos{
                        margin: 0;
                        padding: 0;
                        .datoIngreso{
                            color: $blue;
                            list-style: none;
                            .divDato{
                                width: 45vw;
                                padding: 1em;
                                padding-left: 3em;
                                margin-bottom: 1em;
                                margin-left: 0;
                                border: 1px solid $blue; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                              
                                img{
                                    width: 15px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;
                                    opacity: 0.5;  
                                }
                                img:hover{
                                    cursor: pointer;
                                }
                            }
                            .divDato:hover{
                                color: $xlightb;
                                background-color: $blue;
                                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                            }
                        }
                    }

                    #listaEgresos{
                        margin: 0;
                        padding: 0;
                        .datoEgreso{
                            color: $orange;
                            list-style: none;
                            .divDato{
                                width: 45vw;
                                padding: 1em;
                                padding-left: 3em;
                                margin-bottom: 1em;
                                margin-right: 2vw;
                                border: 1px solid $orange; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                img{
                                    width: 15px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em; 
                                    opacity: 0.5; 
                                }
                                img:hover{
                                    cursor: pointer;
                                }
                            }
                            .divDato:hover{
                                color: $xlightb;
                                background-color: $orange;
                                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                            }
                        }
                    }
                }

                #tituloIngresos{
                    padding: 0.5em;
                    color: $blue;
                }

                #tituloEgresos{
                    padding: 0.5em;
                    color: $orange;
                }
            
        }
    }

    @media (min-width: 1200px){
        #cuerpo2{
            .divIngresar{
                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                #agregarNuevo{
                    background-color: $darkblue;
                    color: $xlightb;
                    width: 100%;
                    .formulario{
                        margin: 0;
                        padding: 0.4em;
                        padding-top: 2em;
                        padding-bottom: 2em;
                            .form-control{
                                display: inline;
                            }
                            label{
                                margin: 0 1% 0 3%;
                            }
                            input{
                                height: 2.5em;
                                width: 1em;
                                border-radius: 10px;
                            }

                            #descripcion{
                                width: 25em;
                            }

                            #monto{
                                width: 7em;
                            }

                            .selector{
                                width: 10%;
                                display: inline;
                                border-radius: 10px;
                            }

                            #cargar{
                                margin-left: 2em;
                                margin-right: 3em;
                                height: 2.7em;
                            }

                            #cargar:hover{
                                color: black;
                                background-color: white;
                                font-weight:400;
                                box-shadow: 5px 5px 5px -5px $blue;
                            }

                            br{
                                display: none;
                            }
                        
                    }
                }
            }

                .informacion{
                    margin: 1em;
                    #listaIngresos{
                        margin: 0;
                        padding: 0;
                        .datoIngreso{
                            color: $blue;
                            list-style: none;
                            .divDato{
                                width: 45vw;
                                padding: 1em;
                                padding-left: 3em;
                                margin-bottom: 1em;
                                margin-left: 2vw;
                                border: 1px solid $blue; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                max-width: 600px;
                                img{
                                    width: 10px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;  
                                    opacity: 0.5;
                                }
                                img:hover{
                                    cursor: pointer;
                                }
                            }
                            .divDato:hover{
                                color: $xlightb;
                                background-color: $blue;
                                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                            }
                        }
                    }

                    #listaEgresos{
                        margin: 0;
                        padding: 0;
                        .datoEgreso{
                            color: $orange;
                            list-style: none;
                            .divDato{
                                width: 45vw;
                                padding: 1em;
                                padding-left: 3em;
                                margin-bottom: 1em;
                                margin-right: 2vw;
                                border: 1px solid $orange; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                max-width: 600px;
                                img{
                                    width: 10px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;  
                                    opacity: 0.5;
                                }
                                img:hover{
                                    cursor: pointer;
                                }
                            }
                            .divDato:hover{
                                color: $xlightb;
                                background-color: $orange;
                                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                            }
                        }
                    }
                }

                #tituloIngresos{
                    padding: 0.5em;
                    color: $blue;
                }

                #tituloEgresos{
                    padding: 0.5em;
                    color: $orange;
                }
            
        }
    }
}