body{
    @media (max-width: 767.98px)and(min-width: 300px){
        #cuerpo2{
            .divIngresar{
                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                #agregarNuevo{
                    background-color: $darkblue;
                    color: $xlightb;
                    width: 100%;
                    .formulario{
                        margin: 0;
                        padding-top: 1em;
                        padding-bottom: 1em;
                            .form-control{
                                display: inline;
                                
                            }
                            label{
                                margin: 0 1% 0 3%;
                            }
                            input{
                                height: 2.5em;
                                width: 1em;
                                border-radius: 10px;
                            }

                            #descripcion{
                                width: 12em;
                                margin: 5px;
                            }

                            #monto{
                                width: 7em;
                                margin: 5px;
                            }

                            .selector{
                                width: 10em;
                                display: inline;
                                border-radius: 10px;
                                margin: 5px;
                            }

                            #cargar{
                                margin-left: 2em;
                                height: 2.7em;
                            }

                            .salto{
                                display: inline-block;
                            }
                        
                    }
                }
            }

                .informacion{
                    margin: 0;
                    padding: 0;
                    #listaIngresos{
                        margin: 0;
                        padding: 0;
                        .datoIngreso{
                            color: $blue;
                            list-style: none;
                            .divDato{
                                width: 40vw;
                                padding: 1em;
                                margin-bottom: 1em;
                                margin-left: 0;
                                border: 1px solid $blue; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                img{
                                    width: 10px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;
                                }
                            }
                        }
                    }

                    #listaEgresos{
                        margin: 0;
                        padding: 0;
                        .datoEgreso{
                            color: $orange;
                            list-style: none;
                            .divDato{
                                width: 40vw;
                                padding: 1em;
                                margin-bottom: 1em;
                                margin-right: 0;
                                border: 1px solid $orange; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                img{
                                    width: 10px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;
                                }
                                
                            }
                        }
                    }
                }

                #tituloIngresos{
                    padding: 1em;
                    color: $blue;
                }

                #tituloEgresos{
                    padding: 1em;
                    color: $orange;
                }
            
        }
    }

    @media (max-width:991.98px)and(min-width: 768px){
        #cuerpo2{
            .divIngresar{
                box-shadow: 2px 8px 12px -4px rgba(0,0,0,0.43);
                #agregarNuevo{
                    background-color: $darkblue;
                    color: $xlightb;
                    width: 100%;
                    .formulario{
                        margin: 1em;
                        padding: 0;
                        .form-container{
                            max-width: 600px;
                            margin: auto;
                            .form-control{
                                display: inline;
                                margin: 0.5em;
                            }
                            label{
                                margin: 0 1% 0 3%;
                            }
                            input{
                                height: 2.5em;
                                width: 1em;
                                border-radius: 10px;
                            }

                            #descripcion{
                                width: 25em;
                            }

                            #monto{
                                width: 5em;
                            }

                            .selector{
                                width: auto;
                                display: inline;
                                border-radius: 10px;
                            }

                            #cargar{
                                margin-top: 2em;
                                margin-left: 2em;
                                height: 2.7em;
                            }

                            .salto{
                                display: inline-block;
                            }
                        }
                    }
                }
            }

                .informacion{
                    margin: auto;
                    #listaIngresos{
                        margin: 0;
                        margin-right: auto;
                        padding: 0;
                        .datoIngreso{
                            color: $blue;
                            list-style: none;
                            .divDato{
                                width: 40vw;
                                padding: 1em;
                                margin-bottom: 1em;
                                margin-left: 2vw;
                                border: 1px solid $blue; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                img{
                                    width: 10px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;
                                }
                            }
                        }
                    }

                    #listaEgresos{
                        margin: 0;
                        margin-left: 1em;
                        padding: 0;
                        .datoEgreso{
                            color: $orange;
                            list-style: none;
                            .divDato{
                                width: 40vw;
                                padding: 1em;
                                margin-bottom: 1em;
                                margin-right: auto;
                                border: 1px solid $orange; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                img{
                                    width: 10px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;
                                }
                            }
                            .divDato:hover{
                                color: $xlightb;
                                background-color: $orange;
                                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                            }
                        }
                    }
                }

                #tituloIngresos{
                    padding: 1em;
                    color: $blue;
                }

                #tituloEgresos{
                    padding: 1em;
                    color: $orange;
                }
            
        }
    }

    @media (max-width:1199.98px)and(min-width: 992px){
        #cuerpo2{
            .divIngresar{
                box-shadow: 2px 8px 15px -4px rgba(0,0,0,0.43);
                #agregarNuevo{
                    background-color: $darkblue;
                    color: $xlightb;
                    width: 100%;
                    .formulario{
                        display: flex;
                        margin: 0;
                        padding: 1em;
                            .form-control{
                                /*display: inline;*/
                                justify-content: space-between;
                            }
                            label{
                                margin: 0 1% 0 3%;
                            }
                            input{
                                height: 2.5em;
                                width: 1em;
                                border-radius: 10px;
                            }

                            #descripcion{
                                width: 25em;
                            }

                            #monto{
                                width: 7em;
                            }

                            .selector{
                                width: 10%;
                                display: inline;
                                border-radius: 10px;
                            }

                            #cargar{
                                margin-left: 4em;
                                margin-right: 3em;
                                height: 2.7em;
                            }

                            br{
                                display: none;
                            }
                        
                    }
                }
            }

                .informacion{
                    margin: 1em;
                    #listaIngresos{
                        margin: 0;
                        padding: 0;
                        .datoIngreso{
                            color: $blue;
                            list-style: none;
                            .divDato{
                                width: 45vw;
                                padding: 1em;
                                margin-bottom: 1em;
                                margin-left: 2vw;
                                border: 1px solid $blue; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                img{
                                    width: 15px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;  
                                }
                            }
                            .divDato:hover{
                                color: $xlightb;
                                background-color: $blue;
                                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                            }
                        }
                    }

                    #listaEgresos{
                        margin: 0;
                        padding: 0;
                        .datoEgreso{
                            color: $orange;
                            list-style: none;
                            .divDato{
                                width: 45vw;
                                padding: 1em;
                                margin-bottom: 1em;
                                margin-right: 2vw;
                                border: 1px solid $orange; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                img{
                                    width: 15px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;  
                                }
                            }
                            .divDato:hover{
                                color: $xlightb;
                                background-color: $orange;
                                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                            }
                        }
                    }
                }

                #tituloIngresos{
                    padding: 0.5em;
                    color: $blue;
                }

                #tituloEgresos{
                    padding: 0.5em;
                    color: $orange;
                }
            
        }
    }

    @media (min-width: 1200px){
        #cuerpo2{
            .divIngresar{
                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                #agregarNuevo{
                    background-color: $darkblue;
                    color: $xlightb;
                    width: 100%;
                    .formulario{
                        margin: 0;
                        padding: 1em;
                            .form-control{
                                display: inline;
                            }
                            label{
                                margin: 0 1% 0 3%;
                            }
                            input{
                                height: 2.5em;
                                width: 1em;
                                border-radius: 10px;
                            }

                            #descripcion{
                                width: 25em;
                            }

                            #monto{
                                width: 7em;
                            }

                            .selector{
                                width: 10%;
                                display: inline;
                                border-radius: 10px;
                            }

                            #cargar{
                                margin-left: 4em;
                                margin-right: 3em;
                                height: 2.7em;
                            }

                            #cargar:hover{
                                color: black;
                                background-color: white;
                                font-weight:400;
                                box-shadow: 5px 5px 5px -5px $blue;
                            }

                            br{
                                display: none;
                            }
                        
                    }
                }
            }

                .informacion{
                    margin: 1em;
                    #listaIngresos{
                        margin: 0;
                        padding: 0;
                        .datoIngreso{
                            color: $blue;
                            list-style: none;
                            .divDato{
                                width: 45vw;
                                padding: 1em;
                                margin-bottom: 1em;
                                margin-left: 2vw;
                                border: 1px solid $blue; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                img{
                                    width: 10px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;  
                                }
                            }
                            .divDato:hover{
                                color: $xlightb;
                                background-color: $blue;
                                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                            }
                        }
                    }

                    #listaEgresos{
                        margin: 0;
                        padding: 0;
                        .datoEgreso{
                            color: $orange;
                            list-style: none;
                            .divDato{
                                width: 45vw;
                                padding: 1em;
                                margin-bottom: 1em;
                                margin-right: 2vw;
                                border: 1px solid $orange; 
                                border-radius: 2em;
                                box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);
                                position: relative;
                                img{
                                    width: 10px;
                                    position: absolute;
                                    top: 0.7em;
                                    right: 0.7em;  
                                }
                            }
                            .divDato:hover{
                                color: $xlightb;
                                background-color: $orange;
                                box-shadow: 2px 8px 20px -4px rgba(0,0,0,0.43);
                            }
                        }
                    }
                }

                #tituloIngresos{
                    padding: 0.5em;
                    color: $blue;
                }

                #tituloEgresos{
                    padding: 0.5em;
                    color: $orange;
                }
            
        }
    }
}