$darkblue: #154360;
$blue: #2874A6;
$lightblue: #6CF5EC;
$xlightb: #D6EAF8;
$cyan: #16A085;
$orange: rgb(255, 87, 25);

body{
    background-color: $xlightb;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
    #presentacion {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
        h1{
            color: $darkblue;
            font-family: Montserrat;
            text-shadow: 3px 3px 2px $blue;
            font-weight: bold;
        }
      
        #monedas{
            filter: drop-shadow(3px 3px 2px $blue);
        }
      }

    header{
        display: none;
    }

    #cuerpo1{
        display: none;
        
        #ingresos{
            opacity: 0;
        }
    
        #egresos{
            opacity: 0;
        }
    }

    #cuerpo2{
        display: none;
    }

   

    @media (min-width: 100px){

        #presentacion{
            h1{
                font-size: 3em;
            }
            #monedas{
                width: 40vw;
            }
        }

        #cuerpo1{
                background: rgb(40,116,166);
                background: linear-gradient(270deg, #16b5d1 0%, rgba(133,193,233,1) 100%);
                h3{
                    padding: 0.8em;
                    padding-bottom: 0;
                    color: $darkblue;
                    font-family: Montserrat;
                    font-size: 1em;
                }

                #presupuestoActual{
                    color: $darkblue;
                    font-size: 1.2em;
                    font-family: Montserrat;
                    margin: 0;
                }

                #tablero{
                    font-size: 1em;
                    padding: 0.5em;
                    margin-left: 3em;
                    margin-right: 3em;
                    
                    @mixin subtotales{
                        padding: 0;
                        color: $xlightb;
                        font-weight: bold;
                        /*border: solid 1px $xlightb;*/
                        border-radius: 15px;
                        display: inline-block;
                        small{
                            font-weight: lighter;
                            font-size: 0.8em;
                            float: right;
                            margin-right: 1em;
                        }
                    }

                    #ingresos{
                        @include subtotales();
                        background-color: rgba(0,0,0,0.43);
                        padding: 10px;
                        margin-top:10px; 
                        margin-bottom:10px;   
                    }

                    #egresos{
                        @include subtotales();
                        background-color: rgba(0,0,0,0.43);
                        padding: 10px;
                        margin-top:10px;
                        margin-bottom:10px;  
                    }

                    .tituloSubtotales{
                        display: inline;

                    }
                }
            }
            
        }


    @media (min-width: 768px){

            #presentacion{
                h1{
                    font-size: 5em;
                }
              
                #monedas{
                    width: 30vw;
                }
            }

            #cuerpo1{
                background: rgb(40,116,166);
                background: linear-gradient(270deg, #16b5d1 0%, rgba(133,193,233,1) 100%);
                h3{
                    padding: 1em;
                    padding-bottom: 0;
                    color: $xlightb;
                    font-family: Montserrat;
                    font-size: 1.2em;
                }

                #presupuestoActual{
                    color: $xlightb;
                    font-size: 2em;
                    font-family: Montserrat;
                }

                #tablero{
                    font-size: 1em;
                    padding: 2em;
                    margin-left: 10em;
                    margin-right: 10em;
                    
                    @mixin subtotales{
                        margin: 1em;
                        margin-top: 0;
                        padding: 0.3em;
                        color: $xlightb;
                        font-weight: bold;
                        /*border: solid 1px $xlightb;*/
                        border-radius: 15px;
                        display: inline;
                        small{
                            font-weight: lighter;
                            font-size: 0.8em;
                            float: right;
                            margin-right: 1em;
                        }
                    }

                    #ingresos{
                        @include subtotales();
                        background-color: rgba(0,0,0,0.43);  
                    }

                    #egresos{
                        @include subtotales();
                        background-color: rgba(0,0,0,0.43);
                    }

                    .tituloSubtotales{
                        display: inline;

                    }

                    
                }
            }

            
        }



    @media (min-width: 992px){

        #presentacion{
            h1{
                font-size: 7em;
            }
          
            #monedas{
                width: 30vw;
            }
        }

            #cuerpo1{
                background: rgb(40,116,166);
                background: linear-gradient(270deg, #16b5d1 0%, rgba(133,193,233,1) 100%);
                h3{
                    padding: 0.5em;
                    padding-bottom: 0;
                    color: $xlightb;
                    font-family: Montserrat;
                    font-size: 1.2em;
                }

                #presupuestoActual{
                    color: $xlightb;
                    font-size: 1.5em;
                    font-family: Montserrat;
                    margin-bottom: 0;
                    padding: 0;
                }

                #tablero{
                    font-size: 1em;
                    padding: 1em;
                    margin-left: 20em;
                    margin-right: 20em;
                    height: 14em;
                    
                    @mixin subtotales{
                        overflow: hidden;
                        margin: 1em;
                        width: 45em;
                        height: 5em;
                        margin-top: 0;
                        padding: 0.5em;
                        color: $xlightb;
                        font-weight: bold;
                        /*border: solid 1px $xlightb;*/
                        border-radius: 15px;
                        display: inline-block;
                        box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.43);

                        .montoSubtotales{
                            display: block;
                            margin: 0;
                            padding: 0;
                        }

                        small{
                            font-weight: lighter;
                            font-size: 0.8em;
                            float: right;
                            margin-right: 1em;
                        }
                    }

                    #ingresos{
                        @include subtotales();
                        background-color: rgba(0,0,0,0.43); 
                        
                    }

                    #egresos{
                        @include subtotales();
                        background-color:rgba(0,0,0,0.43);
                    }

                    .tituloSubtotales{
                        display: inline;
                        margin: 1em;
                    }

                }
            }

            
        }

    @media (min-width: 1200px){

            #presentacion{
                h1{
                    font-size: 5em;
                }
            
                #monedas{
                    width: 20vw;
                }
            }


            #cuerpo1{
                background: rgb(40,116,166);
                background: linear-gradient(270deg, #16b5d1 0%, rgba(133,193,233,1) 100%);
                h3{
                    padding: 1em;
                    padding-bottom: 0;
                    color: $darkblue;
                    font-family: Montserrat;
                    font-size: 1.2em;
                }

                #presupuestoActual{
                    color: $darkblue;
                    font-size: 1.5em;
                    font-family: Montserrat;
                }

                #tablero{
                    font-size: 1em;
                    padding: 1em;
                    margin-left: 23em;
                    margin-right: 23em;
                    
                    @mixin subtotales{
                        margin: 1em;
                        margin-top: 0;
                        padding: 0.3em;
                        color: $xlightb;
                        font-weight: bold;
                        /*border: solid 1px $xlightb;*/
                        border-radius: 15px;
                        display: inline;
                        small{
                            font-weight: lighter;
                            font-size: 0.8em;
                        }
                    }

                    #ingresos{
                        @include subtotales();
                        background-color: rgba(0,0,0,0.3);
                    }

                    #egresos{
                        @include subtotales();
                        background-color: rgba(0,0,0,0.3);
                    }

                    .tituloSubtotales{
                        display: inline;

                    }
                }
            }  
        }
    
   
}

::-webkit-scrollbar{
    ::-webkit-scrollbar-thumb{
        background: linear-gradient(45deg, $blue, $xlightb);
    }
}